<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bible.bible_typing.mapper.BibleMapper">
    <insert id="insertBibleBatch">
        INSERT INTO bible_verses (book_id, chapter, verse, content, verse_key)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.bookId}, #{item.chapter}, #{item.verse}, #{item.content}, #{item.verseKey})
        </foreach>
    </insert>

    <delete id="deleteAllVerses">
        DELETE FROM bible_verses
    </delete>

    <!-- 외부 클래스에서 내부 클래스를 지정할 때는 .이 아니라 $를 사용해야함!!! -->
    <select id="findAllBookInfo" resultType="com.bible.bible_typing.dto.BibleDto$BibleInfoDto">
        SELECT id, book_code_ko, book_code_en, book_name_ko, book_name_en, testament, book_order
        FROM bible_info
    </select>

    <!-- 단문 연습용 20개 데이터 호출 -->
    <select id="getShortPractice" resultType="com.bible.bible_typing.dto.BibleDto$BibleShortPracticeDto">
        SELECT ROW_NUMBER() over () AS row_num
            , temp.*
        FROM (SELECT b.book_name_ko
                   , b.book_code_ko
                   , a.chapter
                   , a.verse
                   , a.content
              FROM bible_verses a
                       JOIN bible_info b ON a.book_id = b.id
              WHERE b.testament IN ('OLD', 'NEW')
              ORDER BY rand()
                  LIMIT 20) temp
    </select>

    <insert id="saveShortPracticeHistory" parameterType="com.bible.bible_typing.dto.BibleDto$BibleShortSaveDto">
        INSERT INTO speed_his(
                               user_idx
                             , practice_type
                             , speed
                             , accuracy
                             , duration
                             , use_yn
                             , ins_idx
                             , ins_date
        ) VALUES (
                         #{userIdx}
                      , #{practiceType}
                      , #{speed}
                      , #{accuracy}
                      , #{duration}
                      , 'Y'
                      , #{userIdx}
                      , NOW()
                         )
    </insert>
</mapper>